.recipients-input {
  border: 0;
  border-radius: 8px;
  font-family: 'SFProText';
  font-size: 16px;
  height: 49.47px;
  padding: 0 12.5px;
  transition: all 0.5s;
  width: 375px;
}

.recipients-input::placeholder {
  color: #BDBDBD;
}

.recipients-input:focus {
  outline: none;
  box-shadow: 0 0 10px #888;
}